<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">

<dom-module id="posicion-global">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <custom-style>
      <style is="custom-style">
        html, body {
          margin: 0;
          font-family: 'Roboto', 'Noto', sans-serif;
          -webkit-font-smoothing: antialiased;
          background: #f1f1f1;
          max-height: 368px;
        }
        app-toolbar {
          background-color: #4285f4;
          color: #fff;
        }

        paper-icon-button {
          --paper-icon-button-ink-color: white;
        }

        paper-icon-button + [main-title] {
          margin-left: 24px;
        }
        paper-progress {
          display: block;
          width: 100%;
          --paper-progress-active-color: rgba(255, 255, 255, 0.5);
          --paper-progress-container-color: transparent;
        }
        app-header {
          @apply --layout-fixed-top;
          color: #fff;
          --app-header-background-rear-layer: {
            background-color: #ef6c00;
          };
        }
        app-drawer {
          --app-drawer-scrim-background: rgba(0, 0, 100, 0.8);
          --app-drawer-content-container: {
            background-color: #B0BEC5;
          }
        }
        sample-content {
          padding-top: 64px;
        }
      </style>
    </custom-style>
    <app-header reveals>
      <app-toolbar>
          <paper-icon-button src="/src/posicion-global/TechU.svg"></paper-icon-button>
          <div main-title>Bienvenid@ a TechU Practitioner Bank <b>[[first_name]]</b></div>
          <paper-icon-button icon="exit-to-app" on-click="logout"></paper-icon-button>
          <paper-progress value="10" indeterminate bottom-item></paper-progress>
        </app-toolbar>
    </app-header>
    <br>
    <div class="row">
      <div class="col-4" align="right">
        <visor-usuario user={{userId}}></visor-usuario>
      </div>
      <div class="col-8">
        <visor-cuentas user="{{userId}}"></visor-cuentas>
      </div>
    </div>

    <iron-ajax id="doLogout"
      url="http://localhost:3000/apitechu/v1/users/{{userId}}/sessions/"
      method="DELETE"
      headers={{token}}
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      withCredentials
    />

    <iron-ajax id="getUser"
      auto
      url="http://localhost:3000/apitechu/v1/users/{{userId}}"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="showUserData"
      on-error="showUserError"
      withCredentials
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PosicionGlobal extends Polymer.Element {
      static get is() { return 'posicion-global'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          userId: {
            type: String
          },
          first_name:{
            type: String
          }
        };
      }

      showUserData(data){
        console.log("showUserData");
        this.first_name = data.detail.response.first_name;
      }

      logout () {
        console.log("logout");
        this.$.doLogout.url+= window.sessionStorage.getItem("session_id");
        this.$.doLogout.generateRequest();
      }

      manageAJAXResponse (data){
        console.log("manageAJAXResponse");

        if(data.detail.status == 204){
          window.location ="/logout/" + this.userId;
        }
        else {
          window.location ="/logout-ko/" + this.userId;
        }
      }

      showError (error) {
        console.log("Se ha producido un eror accediendo al backend para hacer la desconexión");
        console.log(error);
        window.location ="/logout-ko/" + this.userId;
      }

    }

    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
