<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">

<dom-module id="posicion-global">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="container">
      <div class="row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
          <!-- Image and text -->
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" on-click="logout">
              <img src="/src/frontal_techu-app/system-log-out.svg" width="30" height="30" class="d-inline-block align-top" alt="Salir">
            </a>
          Salir
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-4" align="right">
          <visor-usuario user={{userId}}></visor-usuario>
        </div>
        <div class="col-8">
          <visor-cuentas user="{{userId}}"></visor-cuentas>
        </div>
      </div>
    </div>

    <iron-ajax id="doLogout"
      url="http://localhost:3000/apitechu/v1/users/{{userId}}/sessions/"
      method="DELETE"
      headers={{token}}
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      withCredentials
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PosicionGlobal extends Polymer.Element {
      static get is() { return 'posicion-global'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          userId: {
            type: String
          }
        };
      }

      logout () {
        console.log("logout");
        this.$.doLogout.url+= window.sessionStorage.getItem("session_id");
        this.$.doLogout.generateRequest();
      }

      manageAJAXResponse (data){
        console.log("manageAJAXResponse");

        if(data.detail.status == 204){
          window.location ="/logout/" + this.userId;
        }
        else {
          window.location ="/logout-ko/" + this.userId;
        }
      }

      showError (error) {
        console.log("Se ha producido un eror accediendo al backend para hacer la desconexión");
        console.log(error);
        window.location ="/logout-ko/" + this.userId;
      }

    }

    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
