<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="logout-ok">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="jumbotron jumbotron-fluid">
      <div class="container" align="center">
        <h1 class="display-4">¡¡¡Hasta pronto!!!</h1>
        <p class="lead">Se ha cerrado correctamente la sesión del usuario con email [[emailConvert(userId)]]</p>
        <button align="center" class="btn btn-primary" on-click="aceptar">Aceptar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutOK extends Polymer.Element {
      static get is() { return 'logout-ok'; }
      static get properties() {
        return {
          userId: {
            type: String
          }
        };
      }

      emailConvert(email){
        return window.atob(email);
      }

      aceptar(){
        window.location = "/login";
      }

    }
    window.customElements.define(LogoutOK.is, LogoutOK);
    window.sessionStorage.removeItem("techu_token");
    window.sessionStorage.removeItem("session_id");
  </script>
</dom-module>
