<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="./src/login-usuario/login-usuario.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div class="form-login">
        <h2 class="form-login-heading">Introduce tus credenciales</h2>
        <paper-input type="email" label="Correo electrónico" id="inputEmail" value="{{email::input}}"" placeholder="Dirección de correo" required auto-validate error-message="Formato de correo" on-blur="activaLogin" autofocus></paper-input>
        <paper-input type="password" label="Password" id="inputPassword" placeholder="Password" value="{{password::input}}" required auto-validate error-message="Rellena todos los campos" on-blur="activaLogin"></paper-input>
        <br>
        <paper-button raised disabled id="buttonLogin" on-click="login">Entra</paper-button>
        <paper-button raised on-click="registrar">Regístrate</paper-button>
    </div>

    <paper-dialog id="modal" modal>
      <h2>Error</h2>
      <br>
      <p>{{mensaje_error}}</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Cerrar</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax id="doLogin"
      url="http://localhost:3000/apitechu/v1/users/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          token:{
            type:String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          mensaje_error:{
            type: String
          },
          url_login: {
            type: String,
            value: "http://localhost:3000/apitechu/v1/users/"
          }
        };
      }

      manageAJAXResponse (data) {
        console.log("manageAJAXResponse");

        if(data.detail.status == 201){
          this.token = data.detail.response.token;
          window.sessionStorage.setItem("techu_token",this.token);
          window.sessionStorage.setItem("session_id",data.detail.response.id);
          window.location ="/posicion-global/" + window.btoa(this.email);
        }
      }

      showError (error) {
        var statusCode = error.detail.request.status;
        console.log("Hubo un error " + statusCode);
        if(statusCode==401){
          this.mensaje_error="El usuario y/o la clave no son correctas.";
          this.$.modal.open();
        }else{
          if(statusCode==400){
            this.mensaje_error="Debes introducir una clave.";
            this.$.modal.open();
          }else{
            this.mensaje_error="Se ha producido un error desconocido. Por favor, vuelve a intentarlo más tarde";
            this.$.modal.open();
          }
        }
      }

      activaLogin(){
        console.log("activaLogin");
        if(this.email==null || this.password==null || this.email=="" || this.password==""){
          console.log("activaLogin - No valida");
          this.$.buttonLogin.disabled = true;
          return false;
        }
        else{
          console.log("activaLogin - Valida");
          this.$.buttonLogin.disabled = false;
          this.$.buttonLogin.focus();
          return true;
        }
      }

      login(){
        console.log("El usuario ha pulsado el botón");
        var loginData= {
          "password" : this.password
        };

        this.$.doLogin.url = this.url_login + window.btoa(this.email) + "/sessions";
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }

      registrar(){
        window.location = "/register";
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
