<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      .encabezado {
          font-size: 24px;
          padding: 5px;
      }
      .positivo {
        color: black;
        vertical-align: middle;
      }
      .negativo {
        color: red;
        vertical-align: middle;
      }

    </style>

    <div class="container">
        <h2 class="form-login-heading" align="center">MOVIMIENTOS</h2>
        <div class="row">
          <p class="encabezado col-sm-6" align="left">Cuenta: {{accountId}}</p>
          <template is="dom-if" if="{{!convertFloat(balance)}}" >
            <p class="encabezado negativo col-sm-6" align="right">Saldo: [[formatBalance(balance)]] [[currency]]</p>
          </template>
          <template is="dom-if" if="{{convertFloat(balance)}}" >
            <p class="encabezado positivo col-sm-6" align="right">Saldo: [[formatBalance(balance)]] [[currency]]</p>
          </template>




          <!--p class="encabezado col-sm-6" align="right"> Saldo: {{balance}} [[currency]]</p-->
        </div>
    </div>
    <div class="container">
      <vaadin-grid aria-label="Movimientos de la cuenta" id="grid" active-item="{{activeItem}}" items="[[transactions]]">
        <vaadin-grid-column  width="160px" flex-grow="0" resizable>
          <template class="header">Importe</template>
          <template id="amount">
            <style>
              .ingreso {
                color: black;
              }
              .retirada {
                color: red;
              }
            </style>
            <template is="dom-if" if="{{!isIncoming(item.type)}}" >
              <p class="retirada">[[formatAmount(item.amount,item.type)]]</p>
            </template>
            <template is="dom-if" if="{{isIncoming(item.type)}}" >
              <p class="ingreso">[[formatAmount(item.amount,item.type)]]</p>
            </template>
          </template>
          <template class="footer">Importe</template>
        </vaadin-grid-column>

        <vaadin-grid-column width="80px" flex-grow="0">
          <template class="header">Divisa</template>
          <template>[[item.currency]]</template>
          <template class="footer">Divisa</template>
        </vaadin-grid-column>

        <vaadin-grid-column width="140px" flex-grow="0">
          <template class="header">Fecha Operación</template>
          <template>[[formatDate(item.operation_date)]]</template>
          <template class="footer">Fecha Operación</template>
        </vaadin-grid-column>

        <vaadin-grid-column width="140px" flex-grow="0">
          <template class="header">Fecha Valor</template>
          <template>[[formatDate(item.valuable_date)]]</template>
          <template class="footer">Fecha Valor</template>
        </vaadin-grid-column>

        <vaadin-grid-column width="120px" flex-grow="0">
          <template class="header">Tipo</template>
          <template>[[formatType(item.type)]]</template>
          <template class="footer">Tipo</template>
        </vaadin-grid-column>

        <vaadin-grid-column flex-grow="1" resizable>
          <template class="header">Concepto</template>
          <template>[[item.detail]]</template>
          <template class="footer">Concepto</template>
        </vaadin-grid-column>
      </vaadin-grid>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6" align="left">
          <paper-button raised on-click="newTransaction">Nuevo Movimiento</paper-button>
        </div>
        <div class="col-sm-6" align="right">
          <paper-button raised id="buttonBack" on-click="back">Volver</paper-button>
        </div>
      </div>
    </div>

    <iron-ajax id="listTransactions"
      auto
      url="http://localhost:3000/apitechu/v1/users/{{userId}}/accounts/{{accountId}}/transactions"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="showDataTransactions"
      on-error="showErrorTransactions"
      withCredentials
    />

    <iron-ajax id="getAccount"
      auto
      url="http://localhost:3000/apitechu/v1/users/{{userId}}/accounts?number={{accountId}}"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="showDataAccount"
      on-error="showErrorAccount"
      withCredentials
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          userId: {
            type: String
          },
          accountId:{
            type:String
          },
          balance:{
            type:Number
          },
          currency:{
            type:String
          },
          transactions: {
            type:Array
          },
          activeItem: {
            observer: '_activeItemChanged'
          }
        };
      }

      showDataTransactions (data) {
        console.log("showDataTransactions");
        this.transactions = data.detail.response;
      }

      showErrorTransactions (error) {
        var status = error.detail.request.status ;
        if (status==404){
          console.log("No existen movimientos para la cuenta " + this.accountId);
        }

        if (status==401){
          console.log("El token del backend ya no es válido");
        }
      }

      showDataAccount (data) {
        console.log("showDataAccount");
        this.balance = data.detail.response[0].balance;
        this.currency = data.detail.response[0].currency;
        window.sessionStorage.setItem("selected_account_balance",this.balance);
        window.sessionStorage.setItem("selected_account_currency_balance",this.currency);
        this.$.buttonBack.focus();
      }

      showErrorAccount (error) {
        var status = error.detail.request.status ;
        if (status==404){
          console.log("No existen la cuenta " + this.accountId);
        }

        if (status==401){
          console.log("El token del backend ya no es válido");
        }
      }

      _activeItemChanged (item) {
                this.$.grid.selectedItems = item ? [item] : [];
      }

      formatAmount(amount,type){
        var decimals = 2;
        amount += ''; // por si pasan un numero en vez de un string
        var sign = (type == "R");
        amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

        decimals = decimals || 0; // por si la variable no fue fue pasada

        // si no es un numero o es igual a cero retorno el mismo cero
        if (isNaN(amount) || amount === 0)
            return parseFloat(0).toFixed(decimals);

        // si es mayor o menor que cero retorno el valor formateado como numero
        amount = '' + amount.toFixed(decimals);

        var amount_parts = amount.split('.'),
            regexp = /(\d+)(\d{3})/;

        while (regexp.test(amount_parts[0]))
            amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

        amount_parts[0] = amount_parts[0].replace(',','.');

        return sign ? '-' + amount_parts.join(',') : amount_parts.join(',')
      }

      isIncoming(tipo){
        console.log(tipo=="I");
        return tipo=="I";
      }

      formatBalance(amount){
        var decimals = 2;
        amount += ''; // por si pasan un numero en vez de un string
        var sign = (amount.toString().substring(0, 1) == "-");
        amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

        decimals = decimals || 0; // por si la variable no fue fue pasada

        // si no es un numero o es igual a cero retorno el mismo cero
        if (isNaN(amount) || amount === 0)
            return parseFloat(0).toFixed(decimals);

        // si es mayor o menor que cero retorno el valor formateado como numero
        amount = '' + amount.toFixed(decimals);

        var amount_parts = amount.split('.'),
            regexp = /(\d+)(\d{3})/;

        while (regexp.test(amount_parts[0]))
            amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

        amount_parts[0] = amount_parts[0].replace(',','.');

        return sign ? '-' + amount_parts.join(',') : amount_parts.join(',')
      }

      convertFloat(cadena){
        var numero = parseFloat(cadena);

        return numero>=0;
      }

      formatDate(date){
        var fecha = new Date(date);
        return fecha.toLocaleDateString();
      }

      formatType(type){
        switch(type){
          case 'I': return "Ingreso";break;
          case 'R': return "Retirada";break;
          default: return "Desconocido";
        }
      }

      back(){
        window.location ="/posicion-global/" + this.userId;
      }

      newTransaction(){
        window.location = "/user/" + this.userId + "/accounts/" + this.accountId + "/newTransaction";
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
    window.addEventListener('WebComponentsReady', VisorMovimientos._activeItemChanged);
  </script>
</dom-module>
