<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="visor-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    .forecast {
        background-color: #4285f4;
        color: white;
        padding: 5px;
    }
    </style>
    <paper-card heading="Tus datos [[first_name]]">
      <div class="card-content">
        <table style="width:100%">
          <tr>
            <td colspan="4">
              <p align="left">[[first_name]] [[last_name]]</p>
            </td>
            <td colspan="8">
              <p align="right">[[email]]</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <p align="left">[[address]]</p>
            </td>
            <td colspan="1">
              <p align="left">[[postalCode]]</p>
            </td>
            <td colspan="4">
              <p align="left">[[province_name]]</p>
            </td>
            <td colspan="4">
              <p align="right">[[municipality_name]]</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="card-content">
        <p class="forecast" align="center">Esta es la predicción del tiempo para tu provincia</p>
        <iframe height="310px" width="450px" src="[[forecast]]" frameborder="0" name="iForecast"></iframe>
      </div>
    </paper-card>

    <iron-ajax id="getUser"
      auto
      url="http://localhost:3000/apitechu/v1/users/{{user}}"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="showUserData"
      on-error="showUserError"
      withCredentials
    />

    <iron-ajax id="getForecast"
      url="http://localhost:3000/apitechu/v1/provinces/{{province}}/forecast"
      content-type="application/json"
      handle-as="json"
      on-response="showDataForecast"
      on-error="showErrorForecast"
      withCredentials
    />

    <iron-ajax id="getProvince"
      url="http://localhost:3000/apitechu/v1/provinces/{{province}}"
      content-type="application/json"
      handle-as="json"
      on-response="showProvinceData"
      on-error="showProvinceError"
      withCredentials
    />

    <iron-ajax id="getMunicipality"
      url="http://localhost:3000/apitechu/v1/provinces/{{province}}/municipalities/{{convert(municipality)}}"
      content-type="application/json"
      handle-as="json"
      on-response="showMunicipalityData"
      on-error="showMunicipalityError"
      withCredentials
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          user: {
            type: String
          },
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          email:{
            type:String
          },
          address:{
            type:String
          },
          postalCode:{
            type:String
          },
          province:{
            type:String
          },
          province_name:{
            type:String
          },
          municipality:{
            type:String
          },
          municipality_name:{
            type:String
          },
          forecast:{
            type:String
          }
        };
      }

      convert(codMunicipality){
          var codMunicipio = codMunicipality.substr(2,3);
          console.log(codMunicipio);
          return codMunicipio
      }

      showUserData (data) {
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.address = data.detail.response.address;
        this.postalCode = data.detail.response.postal_code;
        this.province = data.detail.response.province;
        this.municipality = data.detail.response.municipality;
        this.$.getForecast.generateRequest();
        this.$.getProvince.generateRequest();
        this.$.getMunicipality.generateRequest();
      }

      showUserError (error) {
        console.log("Se ha producido un eror accediendo al backend para recuperar los datos de usuario");
        console.log(error);
      }

      showDataForecast (data) {
        this.forecast = data.detail.response.url_prediccion;
      }

      showErrorForecast (error) {
        console.log("Se ha producido un eror accediendo al backend de AEMET");
        console.log(error);
      }

      showProvinceData (data) {
        console.log("showProvinceData");
        this.province_name = data.detail.response[0].nombre;
      }

      showProvinceError (error) {
        console.log("Se ha producido un eror accediendo al backend de Provincias");
        console.log(error);
      }

      showMunicipalityData (data) {
        console.log("showMunicipalityData");
        this.municipality_name = data.detail.response[0].NOMBRE;
      }
      showMunicipalityError (error) {
        console.log("Se ha producido un eror accediendo al backend de Municipios");
        console.log(error);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
