<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="new-transaction">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/src/login-usuario/login-usuario.css" rel="stylesheet">
    <link href="/src/frontal_techu-app/frontal_techu.css" rel="stylesheet">

    <div class="container">
        <h2 class="form-login-heading">Introduce los datos del nuevo movimiento</h2>
        <div class="row">
          <paper-input type="number" step="0.01" label="Importe" id="amount" class="col-sm-3" value="{{amount::input}}" placeholder="Importe del movimiento" auto-validate pattern="[0-9]+([,]\d{1,2})?$/" error-message="Formato de importe correcto" required auto-validate  on-blur="activaAceptar" autofocus></paper-input>
          <paper-dropdown-menu id="currency" label="Divisa" class="col-sm-3" on-iron-select="selectCurrency">
            <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
              <template is="dom-repeat" items="[[currencies]]" as="currency" index-as="index">
                <paper-item value="[[currency.cod_currency]]">[[currency.des_currency]]</paper-item>
             </template>
            </paper-listbox>
          </paper-dropdown-menu>
          <paper-dropdown-menu id="type" label="Tipo del movimiento" class="col-sm-2" on-iron-select="selectType">
            <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
              <template is="dom-repeat" items="[[types]]" as="type" index-as="index">
                <paper-item value="[[type.cod_type]]">[[type.des_type]]</paper-item>
             </template>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>
        <div class="row">
          <paper-input label="Descripción" id="detail" class="col-sm-8" placeholder="Descripción del movimiento" value="{{detail::input}}" required auto-validate error-message="Rellena todos los campos" on-blur="activaAceptar"></paper-input>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <paper-button raised disabled id="buttonAccept" class="col-sm-1" on-click="aceptar">Aceptar</paper-button>
            <paper-button raised class="col-sm-1" on-click="cancelar">Volver</paper-button>
          </div>
        </div>
    </div>
    <paper-dialog id="modal" modal>
      <h2>Error</h2>
      <br>
      <p>{{mensaje_error}}</p>
      <div classbuttons">
        <paper-button dialog-confirm autofocus>Cerrar</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax id="createTransaction"
      url="http://localhost:3000/apitechu/v1/users/{{userId}}/accounts/{{accountId}}/transactions"
      method="POST"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      withCredentials
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NewTransaction extends Polymer.Element {
      static get is() { return 'new-transaction'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          userId:{
            type:String
          },
          accountId:{
            type:String
          },
          amount:{
            type:Number
          },
          currency:{
            type:String
          },
          type: {
            type: String
          },
          detail:{
            type:String
          },
          mensaje_error:{
            type: String
          },
          currencies:{
            type: Array,
            value: [{"cod_currency":"EUR","des_currency":"Euros"},{"cod_currency":"DOL","des_currency":"Dólar Americano"},{"cod_currency":"GBP","des_currency":"Libra Esterlina"},{"cod_currency":"CHF","des_currency":"Franco Suizo"}]
          },
          types:{
            type: Array,
            value: [{"cod_type":"I","des_type":"Ingreso"},{"cod_type":"R","des_type":"Retirada"}]
          }
        };
      }

      selectCurrency(e){
        var selectedItem = e.target.selectedItem;
        if (selectedItem) {
          this.currency = selectedItem.value;
          console.log(this.currency);
        }
      }

      selectType(e){
        var selectedItem = e.target.selectedItem;
        if (selectedItem) {
          this.type = selectedItem.value;
        }
      }

      manageAJAXResponse (data) {
        console.log("manageAJAXResponse");
        console.log(data.detail.status);
        if(data.detail.status == 201){
            window.location = "/user/" + this.userId + "/accounts/" + this.accountId +"/transactions";
        }
      }

      showError (error) {
        var statusCode = error.detail.request.status;
        console.log("Se ha producido un error al registrar los datos del movimiento. Status Code = " + statusCode);
        if(statusCode==401){
          this.mensaje_error="La sesión ha caducado. Debe salir de la aplicación y volver a entrar.";
          this.$.modal.open();
        }else{
          if(statusCode==404){
            this.mensaje_error="El usuario no es interviniente de la cuenta.";
            this.$.modal.open();
          }else{
            this.mensaje_error="Se ha producido un error desconocido. Por favor, vuelve a intentarlo más tarde";
            this.$.modal.open();
          }
        }
      }

      cancelar(){
        console.log("Cancelar");
        window.history.back();
      }

      activaAceptar(){
        console.log("activaAceptar");
        if(this.amount==null || this.detail==null || this.amount=="" || this.detail == ""){
          console.log("No valida");
          this.$.buttonAccept.disabled = true;
          return false;
        }
        else{
          console.log("Valida");
          this.$.buttonAccept.disabled = false;
          this.$.buttonAccept.focus();
          return true;
        }
      }

      aceptar(){
        var transactionData= {
          "amount": this.amount,
          "currency" : this.currency,
          "type" : this.type,
          "detail" : this.detail,
          "account_balance" : window.sessionStorage.getItem("selected_account_balance"),
          "account_currency_balance" : window.sessionStorage.getItem("selected_account_currency_balance")
        };

        this.$.createTransaction.body = JSON.stringify(transactionData);
        this.$.createTransaction.generateRequest();
      }
    }
    window.customElements.define(NewTransaction.is, NewTransaction);
  </script>
</dom-module>
