<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="registro-ok">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="jumbotron jumbotron-fluid">
      <div class="container" align="center">
        <h1 class="display-4">¡¡¡Operación realizada correctamente!!!</h1>
        <p class="lead">Se ha creado correctamente el usuario con email [[emailConvert(userId)]]</p>
        <paper-button raised align="center" on-click="aceptar">Aceptar</paper-button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroOK extends Polymer.Element {
      static get is() { return 'registro-ok'; }
      static get properties() {
        return {
          userId: {
            type: String
          }
        };
      }

      emailConvert(email){
        return window.atob(email);
      }

      aceptar(){
        window.location = "/login";
      }

    }
    window.customElements.define(RegistroOK.is, RegistroOK);
  </script>
</dom-module>
