<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="registro-ko">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="jumbotron jumbotron-fluid">
      <div class="container" align="center">
        <h1 class="display-4">¡¡¡ERROR!!!</h1>
        <p class="lead">Se ha producido un error en el registro del usuario.</p>
        <p class="lead">Por favor, vueve a intentarlo más tarde.</p>
        <paper-button raised align="center" on-click="aceptar">Aceptar</paper-button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroKO extends Polymer.Element {
      static get is() { return 'registro-ko'; }
      static get properties() {
        return {
        };
      }

      aceptar(){
        window.location = "/register";
      }

    }
    window.customElements.define(RegistroKO.is, RegistroKO);
  </script>
</dom-module>
