<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="registro-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/src/login-usuario/login-usuario.css" rel="stylesheet">
    <link href="/src/frontal_techu-app/frontal_techu.css" rel="stylesheet">

    <div class="container">
      <h2 class="form-login-heading">Introduce tus datos para registrarte</h2>
      <div class="row">
          <paper-input label="Nombre" id="first-name" class="col-sm-2" value="{{first_name::input}}" placeholder="Nombre del usuario" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro" autofocus></paper-input>
          <paper-input label="Apellidos" id="last-name" class="col-sm-2" value="{{last_name::input}}" placeholder="Apellido del usuario" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro"></paper-input>
          <paper-input label="Correo electrónico" type="email" id="email" class="col-sm-3" value="{{email::input}}" placeholder="Dirección de correo" auto-validate error-message="Formato de correo" on-blur="activaRegistro"></paper-input>
      </div>
      <div class="row">
        <paper-input label="Dirección" id="address" class="col-sm-4" value="{{address::input}}" placeholder="Dirección particular" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro"></paper-input>
        <paper-input label="C.P." id="postalCode" class="col-sm-2" value="{{postalCode::input}}" placeholder="Código Postal" maxlength="5" auto-validate pattern="[0-9]*" error-message="Sólo números" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro"></paper-input>
      </div>
      <div class="row">
        <paper-dropdown-menu label="Provincia" id="province" class="col-sm-2" on-iron-select="selectProvince">
          <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
            <template is="dom-repeat" items="[[provinces]]" as="province" index-as="index">
               <paper-item value="[[province.cod_provincia]]">[[province.nombre]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-dropdown-menu label="Localidad" id="municipality" class="col-sm-3" on-iron-select="selectMunicipality">
          <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0">
            <template is="dom-repeat" items="[[municipalities]]" as="municipality" index-as="index">
               <paper-item value="[[formateaCodigoMunicipio(municipality.cod_provincia,municipality.cod_municipio)]]">[[municipality.NOMBRE]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
      </div>
      <div class="row">
        <paper-input type="password" label="Password" id="password" class="col-sm-2" placeholder="Elige una password" value="{{password::input}}" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro"></paper-input>
        <paper-input type="password" label="Repite Password" id="inputRepeatedPassword" class="col-sm-2" placeholder="Repite password" value="{{repeated_password::input}}" required auto-validate error-message="Rellena todos los campos" on-blur="activaRegistro"></paper-input>
      </div>
        <!--div class="form-group">
          <label for="inputRepeatedPassword">Foto de perfil:</label>
          <form id="formularioUpload" method="POST" action="http://localhost:3000/apitechu/v1/users/" target="receiver" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary">Subir</button>
              </div>
              <div class="custom-file">
                <label id="labelProfilePicture" class="custom-file-label" for="inputProfilePicture">Foto de perfil</label>
                <input type="file" id="inputProfilePicture" class="custom-file-input" on-change="actualiza">
              </div>
          	</div>
          </form>
          <iframe hidden id="receiver">
          </iframe>
        </div-->
    </div>
    </br>
    <div class="container">
      <div class="row">
        <paper-button raised disabled id="buttonRegister" class="col-sm-1" on-click="registrar">Regístrate</paper-button>
        <paper-button raised class="col-sm-1" on-click="cancelar">Volver</paper-button>
      </div>
    </div>

    <iron-ajax id="createUser"
      url="http://localhost:3000/apitechu/v1/users/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

    <iron-ajax id="listProvinces"
      auto
      url="http://localhost:3000/apitechu/v1/provinces/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseProvinces"
      on-error="showErrorProvinces"
    />

    <iron-ajax id="listMunicipalities"
      url="http://localhost:3000/apitechu/v1/provinces/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseMunicipalities"
      on-error="showErrorMunicipalities"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          first_name:{
            type:String
          },
          last_name:{
            type:String
          },
          email: {
            type: String
          },
          address: {
            type: String
          },
          postalCode: {
            type: String
          },
          province:{
            type:String
          },
          provinces: {
            type: Array
          },
          municipality:{
            type:String
          },
          municipalities: {
            type: Array
          },
          password: {
            type: String
          },
          repeated_password: {
            type: String
          },
          url_municipalities: {
            type: String,
            value: "http://localhost:3000/apitechu/v1/provinces/"
          }
        };
      }

      manageAJAXResponse (data) {
        console.log("manageAJAXResponse");
        if(data.detail.status == 201){
            window.location = "/success-register/"+window.btoa(this.email);
        }
      }

      showError (error) {
        console.log("Se ha producido un error al registrar los datos del usuario");
        console.log(error.detail);
        window.location = "/failed-register/";
      }

      manageAJAXResponseProvinces (data){
        console.log("manageAJAXResponseProvinces");

        if(data.detail.status == 200){
          this.provinces = data.detail.response;
        }
      }

      showErrorProvinces (error) {
        console.log("Se ha producido un error al cargar la lista de provincias");
        console.log(error);
      }

      selectProvince(e){
        var selectedItem = e.target.selectedItem;
        if (selectedItem) {
          this.province = selectedItem.value;
          this.$.listMunicipalities.url = this.url_municipalities + selectedItem.value + "/municipalities";
          this.$.listMunicipalities.generateRequest();
        }
      }

      selectMunicipality(e){
        var selectedItem = e.target.selectedItem;
        if (selectedItem) {
          this.municipality = selectedItem.value;
        }
      }
      manageAJAXResponseMunicipalities(data){
        console.log("manageAJAXResponseMunicipalities");

        if(data.detail.status == 200){
          this.municipalities = data.detail.response;
        }
      }

      showErrorMunicipalities (error) {
        console.log("Se ha producido un error al cargar la lista de localidades");
        console.log(error);
      }

      formateaCodigoMunicipio(codProvincia,codMunicipio){
        var newCodProvincia = new String(codProvincia);
        var newCodMunicipio = new String(codMunicipio);

        while(newCodProvincia.length < 2) newCodProvincia = "0" + newCodProvincia;
        while(newCodMunicipio.length < 3) newCodMunicipio = "0" + newCodMunicipio;

        return newCodProvincia + newCodMunicipio;
      }

      registrar(){
        console.log("El usuario ha pulsado el botón Registrar");
        if(this.first_name==null || this.last_name==null || this.email==null || this.password==null || this.repeated_password==null){
          return false;
        }

        if(this.password!=this.repeated_password){
          console.log("La password repetida no coincide con password");
          return false;
        }

        var registerData= {
          "first_name": this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "address" : this.address,
          "postalCode" : this.postalCode,
          "province" : this.province,
          "municipality" : this.municipality,
          "password" : this.password
        };

        this.$.createUser.body = JSON.stringify(registerData);
        this.$.createUser.generateRequest();
      }

      cancelar(){
        window.location = "login"
      }

      actualiza(){
        this.$.labelProfilePicture.innerHTML = this.$.inputProfilePicture.files[0].name;
        this.$.formularioUpload.action = this.$.formularioUpload.action + window.btoa(this.email) + "/pictures";
      }

      activaRegistro(){
        console.log("activaRegistro");
        if(this.first_name==null || this.last_name==null || this.email==null || this.address == null || this.postalCode == null || this.password==null || this.repeated_password==null ||
            this.first_name=="" || this.last_name=="" || this.email=="" || this.address == "" || this.postalCode == "" || this.password=="" || this.repeated_password==""){
          console.log("No valida");
          this.$.buttonRegister.disabled = true;
          return false;
        }
        else{
          console.log("Valida");
          if(this.password == this.repeated_password){
            this.$.buttonRegister.disabled = false;
            this.$.buttonRegister.focus();
            return true;
          }
          else{
            this.$.inputRepeatedPassword.focus();
            this.$.inputRepeatedPassword.value = null;
            this.$.inputRepeatedPassword.errorMessage = "La password no coincide";
            return false;
          }
        }
      }
    }
    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
