<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="form-login">
        <h1 class="form-login-heading" align="center">CUENTAS</h1>
    </div>

    <vaadin-grid aria-label="Cuentas del usuario" id="grid" active-item="{{activeItem}}" items="[[accounts]]">

      <vaadin-grid-column  width="240px" flex-grow="0" resizable>
        <template class="header">Cuenta</template>
        <template>[[item.number]]</template>
        <template class="footer">Cuenta</template>
      </vaadin-grid-column>

      <vaadin-grid-column flex-grow="1" resizable>
        <template class="header">Alias</template>
        <template>[[item.alias]]</template>
        <template class="footer">Alias</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="150px" flex-grow="0">
        <template class="header">Saldo</template>
        <template id="balance">
          <style>
            .positivo {
              color: black;
              vertical-align: middle;
            }
            .negativo {
              color: red;
              vertical-align: middle;
            }
          </style>
          <template is="dom-if" if="{{!convertFloat(item.balance)}}" >
            <p class="negativo">[[formatBalance(item.balance)]] [[item.currency]]</p>
          </template>
          <template is="dom-if" if="{{convertFloat(item.balance)}}" >
            <p class="positivo">[[formatBalance(item.balance)]] [[item.currency]]</p>
          </template>
        </template>
        <template class="footer">Saldo</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="180px" flex-grow="0" resizable>
        <template class="header">Tipo</template>
        <template>[[formatType(item.type)]]</template>
        <template class="footer">Tipo</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="70px" flex-grow="1">
        <template class="header" align="right">Acciones</template>
        <template>
          <paper-menu-button>
            <paper-icon-button src="../../src/visor-cuentas/menu.svg" slot="dropdown-trigger" alt="Operaciones"></paper-icon-button>
            <paper-listbox slot="dropdown-content">
              <paper-item on-click="movimientos">Movimientos</paper-item>
              <paper-item disabled>Detalle</paper-item>
            </paper-listbox>
          </paper-menu-button>
        </template>
        <template class="footer">Acciones</template>
      </vaadin-grid-column>

    </vaadin-grid>

    <iron-ajax id="listAccounts"
      auto
      url="http://localhost:3000/apitechu/v1/users/{{user}}/accounts"
      content-type="application/json"
      headers={{token}}
      handle-as="json"
      on-response="showData"
      on-error="showError"
      withCredentials
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          token:{
            type: Object,
            value: {'Authorization' : window.sessionStorage.getItem("techu_token")}
          },
          user: {
            type: String
          },
          accounts: {
            type:Array
          },
          activeItem: {
            observer: '_activeItemChanged'
          }
        };
      }

      showData (data) {
        console.log("showData");
        this.accounts = data.detail.response;
        console.log(this.accounts);
      }

      showError (error) {
        console.log("Se ha producido un eror accediendo la backend");
        console.log(error);
      }

      _activeItemChanged (item) {
                this.$.grid.selectedItems = item ? [item] : [];
      }

      detalle(event){
        console.log("Detalle");
        console.log(event);
      }

      movimientos(event){
        console.log("Movimientos");
        console.log(this.$.grid.selectedItems[0].number);
        window.sessionStorage.setItem("selected_account",this.$.grid.selectedItems[0].number);
        window.sessionStorage.setItem("selected_account_balance",this.$.grid.selectedItems[0].balance);
        window.sessionStorage.setItem("selected_account_currency_balance",this.$.grid.selectedItems[0].currency);
        window.location = "/user/" + this.user + "/accounts/" + this.$.grid.selectedItems[0].number + "/transactions";
      }

      formatType(type){
        switch(type){
          case 'CC': return "Cuenta Corriente";break;
          case 'CA': return "Cuenta de Ahorro";break;
          case 'CCR': return "Cuenta de Crédito";break;
          default: return "Cuenta Desconocida";break;
        }
      }

      formatBalance(amount){
        var decimals = 2;
        amount += ''; // por si pasan un numero en vez de un string
        var sign = (amount.toString().substring(0, 1) == "-");
        amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

        decimals = decimals || 0; // por si la variable no fue fue pasada

        // si no es un numero o es igual a cero retorno el mismo cero
        if (isNaN(amount) || amount === 0)
            return parseFloat(0).toFixed(decimals);

        // si es mayor o menor que cero retorno el valor formateado como numero
        amount = '' + amount.toFixed(decimals);

        var amount_parts = amount.split('.'),
            regexp = /(\d+)(\d{3})/;

        while (regexp.test(amount_parts[0]))
            amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

        amount_parts[0] = amount_parts[0].replace(',','.');

        return sign ? '-' + amount_parts.join(',') : amount_parts.join(',')
      }

      convertFloat(cadena){
        var numero = parseFloat(cadena);

        return numero>=0;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
    window.addEventListener('WebComponentsReady', VisorCuentas._activeItemChanged);
  </script>
</dom-module>
